@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


body{
    
    background-image:url("backgroundimageee.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:1020px;
    background-position: center;
    line-height: 1.6;
}
#logo{
    font-size: 50px;
    font-family: 'Shrikhand', cursive;
    text-decoration: none;
    color:brown;
    
}

.contact{
    font-family: 'Oswald', sans-serif;
    font-size:40px;
    color: brown;
    padding: 30%;
  
}


.button{
    height:60px;
    width:200px;
    margin:2 35px;
    border-radius: 50px;
    border: none ;
    outline:none;
    background: #111;
    color:#fff;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    }
    .button:hover{
      background: linear-gradient(90deg,#f403a4,#f44141,#6841f4,#ff3b3b,#2f03f4);
    }

    .card{
        margin: 2rem 2rem 2rem 0;
        padding:1.5rem;
        width:250px;
        box-shadow: 0 0 28px 4px rgba(0,0,0,0.1);
        transition: transform .3s ease;
        cursor: pointer;
    }
    .card:hover{
        transform: scale(1.1);
        background-color:brown;
    }
    .card img{
        display: flex;
        justify-content: flex-end;
        border-radius:10%;
    }
    
   .containers{
      text-align: center;
   }
   
